<%= form_for(@orderdetail) do |f| %>
  <% if @orderdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orderdetail.errors.count, "error") %> prohibited this orderdetail from being saved:</h2>

      <ul>
      <% @orderdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br>
    <%= f.number_field :unit_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
