<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @orderdetail.order_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @orderdetail.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @orderdetail.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @orderdetail.unit_price %>
</p>

<%= link_to 'Edit', edit_orderdetail_path(@orderdetail) %> |
<%= link_to 'Back', orderdetails_path %>
