

<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 200px; overflow: hidden;margin: auto; ">



  <!-- Slides Container -->
  <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 600px; height: 300px; overflow: hidden;">

    <div>
      <%= image_tag "1.jpg" %>
    </div>

    <div>
      <%= image_tag "5.gif" %>
    </div>
    <div>
      <%= image_tag "8.jpg" %>
    </div>
    <div>
      <%= image_tag "7.jpg" %>
    </div>

    <div>
      <%= image_tag "4.jpg" %>

    </div>

  </div>


</div>
