<!--/#default-->
<!--/  = render 'slider'-->
<!--/#all_cat-->
<!--/    - @categories.each do |category|-->
<!--/      span.category style=(" box-shadow: 5px 5px 25px #666; float: left; margin: 20px; width:250px;  height: 350px; border: solid 1px #fff; border-radius: 25px; overflow: hidden")-->
<!--/        span.product-image-->
<!--/          = image_tag category.products.last.avatar.url(:medium)-->
<!--/      p.product-name style=("margin: 0 0 0 10px")-->
<!--/        = category.category_name-->
<!--/      p.product-name style=("margin: 0 0 0 10px")-->
<!--/        = link_to 'View All Products', category_path(category)-->
<!--/        /= link_to 'View All Products', viewproduct_path(:catid => category)-->
<!--/-->
<!--/      div style=("clear: both")-->




      <div class="bxslider">
          <%= image_tag 'carousel/banner-1.jpg' %>
          <%= image_tag 'carousel/banner-2.jpg' %>
        <%= image_tag 'carousel/banner-3.jpg' %>
        <%= image_tag 'carousel/banner-4.jpg' %>

      </div>


  <section class="main-content">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span12">
            <h4 class="title">

              <!-- FEATURE PRODUCTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->


              <span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>

            </h4>
            <div id="myCarousel" class="myCarousel carousel slide">
              <div class="carousel-inner">
                <% count = 1 %>
                <% if Category.find_by(category_name: 'Woman').id.present? %>
                <% Product.all.where(category_id: Category.find_by(category_name: 'Woman').id).each do |product| %>
                    <% if count <= 6 %>
                  <div class="active item">
                    <ul class="thumbnails">
                      <li class="span3">
                        <div class="product-box">
                          <span class="sale_tag"></span>
                          <p><%= image_tag product.avatar.url(:medium) %></p>
                          <%= link_to product.product_name, '#', class: 'title'%><br>
                          <%= link_to 'View Full Detail of  Product', category_product_path(product.category_id, product), class: 'category' %>
                          <br>

                          <p class="category"><%= link_to product.category.category_name, category_path(product.category_id) %></p>
                          <p class="price">$<%= product.unit_price %></p>

                        </div>
                      </li>
                    </ul>
                    <% count = count + 1 %>
                    </div>
                        <% end %>
                <% end %>
               <% end %>
                </div>

              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="span12">
            <h4 class="title">


              <!-- Latest PRODUCTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

              <span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
            </h4>
            <div id="myCarousel-2" class="myCarousel carousel slide">
              <div class="carousel-inner">
                <div class="active item">
                  <ul class="thumbnails">
                    <% count1 =  1 %>
                    <% Product.all.order('created_at DESC').each do |product| %>
                      <% if count1 <= 6%>
                            <li class="span3">
                                <div class="product-box">
                                    <span class="sale_tag"></span>
                                    <p><%= image_tag product.avatar.url(:medium) %></p>
                                </div>
                            </li>
                            <% count1 = count1 + 1 %>
                      <% end %>
                    <% end %>
                  </ul>
                </div>

            </div>
          </div>
        </div>




        <div class="row feature_box">
          <div class="span4">
            <div class="service">
              <div class="responsive">
                <%= image_tag "feature_img_2.png" %>
                <h4>MODERN <strong>DESIGN</strong></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="service">
              <div class="customize">
                <%= image_tag "feature_img_1.png" %>
                <h4>FREE <strong>SHIPPING</strong></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="service">
              <div class="support">
                <%= image_tag "feature_img_3.png" %>
                <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="our_client">
  <h4 class="title"><span class="text">Manufactures</span></h4>
  <div class="row">

    <div class="span2">
      <a href="#"><%= image_tag "clients/35.png" %></a>
    </div>
    <div class="span2">
      <a href="#"><%= image_tag "clients/1.png" %></a>
    </div>
    <div class="span2">
      <a href="#"><%= image_tag "clients/2.png" %></a>
    </div>
    <div class="span2">
      <a href="#"><%= image_tag "clients/3.png" %></a>
    </div>
    <div class="span2">
      <a href="#"><%= image_tag "clients/4.png" %></a>
    </div>
  </div>
</section>





