<div id="index">
<div style="margin: 10px 0 0 250px;">
<h1>Listing customers</h1>

<table class="table-bordered table-condensed " style="box-shadow: 5px 5px 1px 1px #888888;">
  <thead>
    <tr bgcolor="#191919">
      <th>S#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
          <% if session[:usersession]==true %>
      <th colspan="3">Action</th>

          <% end %>
    </tr>
  </thead>

  <tbody>
  <% i=1 %>
    <% @customers.each do |customer| %>
      <tr>
        <td bgcolor="#191919"><%= i %></td>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.address %></td>
        <% if session[:usersession]==true %>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>

            <% end %>
      </tr>
  <% i=i+1 %>
    <% end %>
  </tbody>
</table>

<br>
  <% if session[:usersession]==true %>
  <%= link_to 'New Customer', new_customer_path %>
      <% end %>
</div>
</div>