<div id="myCarousel-2" class="myCarousel carousel slide">
  <div class="carousel-inner">
    <div class="active item">
      <ul class="thumbnails">
        <% count =  1 %>
        <% @categories.each do |category| %>
                <li class="span3">
                  <div class="product-box">
                    <span class="sale_tag"><%= count %></span>
                    <% if  category.products.last.present? %>
                    <%= image_tag category.products.last.avatar.url(:medium)  %>
                        <% else %>
                            <%= image_tag 'no-image.png'%>
                    <% end %>
                    <p class="category"><%= category.category_name %></p>
                   <%= link_to 'View All Products', category_path(category), class: 'category' %>
                  </div>
                </li>
        <% count = count + 1 %>
        <% end %>
      </ul>
    </div>

  </div>
</div>





