
    <div style="margin: 10px 0 0 350px;">
      <%= form_for [@category, @product] do |f| %>

      <div class="field">
        <%= f.label :product_name %><br>
        <%= f.text_field :product_name %>
      </div>
      <div class="field">
        <%= f.label :unit_price %><br>
        <%= f.number_field :unit_price %>
      </div>
      <div class="field">
        <%= f.label :quantity %><br>
        <%= f.number_field :quantity %>
      </div>
      <div class="field">
        <%= f.label :isbn %><br>
        <%= f.text_field :isbn %>
      </div>
      <div class="field">
        <%= f.label :desc %><br>
        <%= f.text_field :desc %>
      </div>
      <div class="field">
        <%= f.hidden_field :category_id, value: @category.id, as: :hidden %>
        <%#= f.select(:category_id, options_for_select(Category.all.collect {|c| [ c.category_name, c.id ]})) %>
      </div>
        <div class="field">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div><br>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
        </div>

