<script>
    function cal()
    {

        var quantity = document.getElementById('quantity').value;
        var price = document.getElementById('price').value;
        var name = document.getElementById('name').value;
        var avaible_quantity = document.getElementById('avaible_quantity').value;

        if(quantity=="")
        {
            alert("Please Enter the Quantity.");
            return false;
        }

//        alert(avaible_quantity)
        quantity=parseInt(quantity);
        avaible_quantity=parseInt(avaible_quantity);
        if(quantity > avaible_quantity)
        {

            alert("Enter between " + avaible_quantity);
            return false;
        }
        var total = price*quantity;
        document.getElementById('total').value = "Total : "+total;
        alert("Total price of " + name + " " +total );

    }



</script>
<div id="all_products">
  <%#= @products.inspect  %>

  <div style="margin: 10px 0 0 100px">
    <span class="products" style="  box-shadow: 5px 5px 25px #666; float: left; margin: 20px; width:250px;  height: 300px; border: solid 1px #fff; border-radius: 25px; overflow: hidden">

      <span class="product-image">
        <%= image_tag @product.avatar.url(:medium) %>
      </span>
      </span> <br><br>

    <table class="table-condensed" border="1" style=" width: 700px; margin-left: 10px; box-shadow: 5px 5px 1px #888888;">
      <tr><td >Product Name: </td><td><%= @product.product_name %></td></tr>
      <tr><td >Product ISBN: </td><td><%= @product.isbn %></td></tr>
      <tr><td >Product Category: </td><td><%= @product.category.category_name %></td></tr>
      <tr><td >Product Description: </td><td><%= @product.desc %></td></tr>
      <tr><td >Product Quantity: </td><td><%= @product.quantity %></td></tr>
      <tr><td >Product Unit Price: </td><td><%= @product.unit_price %></td></tr>


      <% price = @product.unit_price %>
      <% name = @product.product_name %>
      <% cusname = session[:cusname] %>
      <% avaible_quantity = @product.quantity %>

    </table>



    <div id="" style="clear: both"></div>
    <!--<button id="addorder" style="margin: 10px 0 0 300px" type="button" class="btn btn-default btn-default">Add in your order-->
    <!--</button>-->
    <%# if session[:cussession] %>

        <div id="showorder" style="margin: 10px 0 0 300px">
          <!--<form action="addproduct" data-toggle="validator" role="form">-->
          <input type="text" name="quantity" placeholder="Enter ther quantity" id="quantity">
          <input type="text" value="<%= price %>" id="price" hidden="">
          <input type="text" value="<%= name %>" id="name" hidden="">
          <input type="text" value="<%= cusname %>" id="cusname" hidden="">
          <input type="text" value="<%= avaible_quantity %>" id="avaible_quantity" hidden="">
          <input type="submit" value="Check your price" onclick="cal()"><br>
          <input type="text" id="total" readonly.>
          <!--</form>-->
    <%# end %>

    </div>
  </div>
</div>



