<!DOCTYPE html>
<html>
<head>
  <style>
      body{
          margin: 0px;
          padding: 0px;
      }
  </style>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body style="background-color: #F8F8F8;">

<div id="top-bar" class="container">
  <div class="row">
    <div class="span4" style="float: right;">
      <span style="font-weight: bold;"><%= link_to "Signed in as... #{current_user.email}" if user_signed_in?%></span>
    </div>
    <div class="span8">
      <div class="account pull-right">
        <ul class="user-menu">
          <br>

          <% if user_signed_in? %>
              <li><%= link_to 'Add Category', new_category_path %></li>
              <li><%= link_to 'All Products Report', products_path %></a></li>
              <li><%= link_to 'Customers', sign_up_user_customer_path %></li>
              <li><%= link_to 'Users', sign_up_user_index_path %></li>
              <li><%= link_to 'New User', new_user_registration_path  %></li>
              <li><%= link_to 'Sopnsors', sponsors_path  %></li>

              <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
          <% end %>

          <% if customer_signed_in? %>
              <li><%= link_to 'Logout', destroy_customer_session_path, :method=>'delete' %></li>
          <% else %>
              <% if user_signed_in? %>
              <% else %>
                  <li><%= link_to 'Customer Login', new_customer_session_path %></li>
                  <li><%= link_to 'Staff Login', new_user_session_path %></li>
              <% end %>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>
<div id="wrapper" class="container">
  <section class="navbar main-menu">
    <div class="navbar-inner main-menu">
      <%= link_to 'RIMS', default_index_path, class:'app-name' %>
      <nav id="menu" class="pull-right">
        <ul>
          <li><%= link_to 'All Categories', categories_path %>
          </li>

          <% count = 0 %>
          <% other_catagories = []%>
          <% Category.all.each do |category| %>
              <% if count <= 6%>
                  <li class="context-menu-one box menu-1"><%= link_to category.category_name, category ,data: {url: edit_category_path(category), category_name: category.category_name}%></li>
              <% else %>
                  <% other_catagories << category %>
              <% end %>
              <% count = count + 1 %>
          <% end %>

          <li>
            <a href="#"> Other Categories &#9662;</a>
               <ul>
                  <% other_catagories.each do |category| %>
                     <li class="context-menu-one box menu-1 other_category"><%= link_to category.category_name, category ,data: {url: edit_category_path(category), category_name: category.category_name}%></li>
                  <% end %>
               </ul>
          </li>

        </ul>
      </nav>
    </div>
  </section>

  <div class="main-con">
    <%= yield %>
  </div>

  <section id="copyright">
    <span>© 2015 - All Rights Reserved - <%= mail_to "sajjad.murtaza49@yahoo.com", nil, :style => 'font-weight: bold' %></span>
  </section>
</div>
</body>
</html>