<!DOCTYPE html>
<html>
<head>
  <style>
      body{

          margin: 0px;
          padding: 0px;
      }

  </style>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body style="background-color: #F8F8F8;">

<div id="top-bar" class="container">
  <div class="row">
    <div class="span4">
      <form method="POST" class="search_form">
        <input type="text" class="input-block-level search-query" Placeholder="eg. Mobile">
      </form>
    </div>
    <div class="span8">
      <div class="account pull-right">
        <ul class="user-menu">
          <li><%= link_to 'Add Category', new_category_path %></li>
          <li><%= link_to 'All Products Report', products_path %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="wrapper" class="container">
  <section class="navbar main-menu">
    <div class="navbar-inner main-menu">
      <%= link_to 'SM-Inventory', default_index_path %>
      <nav id="menu" class="pull-right">
        <ul>
          <li><%= link_to 'All Categories', categories_path %>

          </li>
          <% count = 0 %>
          <% Category.all.each do |category| %>
            <% if count <= 7%>
                <li><%= link_to category.category_name, category %></li>
                <% count = count + 1 %>
            <% end %>
          <% end %>

        </ul>
      </nav>
    </div>
  </section>


<%= yield %>


  <section id="footer-bar">
    <div class="row">
      <div class="span3">
        <h4>Navigation</h4>
        <ul class="nav">
          <li><a href="./index.html">Homepage</a></li>
          <li><a href="./about.html">About Us</a></li>
          <li><a href="./contact.html">Contac Us</a></li>
          <li><a href="./cart.html">Your Cart</a></li>
          <li><a href="./register.html">Login</a></li>
        </ul>
      </div>
      <div class="span4">
        <h4>My Account</h4>
        <ul class="nav">
          <li><a href="#">My Account</a></li>
          <li><a href="#">Order History</a></li>
          <li><a href="#">Wish List</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>
      <div class="span5">
        <p class="logo">SM-Inventory</p>
        <p>SM-Inventory Is a Basic Sample Application in Ruby on Rails, Covered All Basics.
          <br>
          1- Login To The System & Change The Password.<br>
          2- Add New Category. <br>
          3- Add New Products. <br>
          4- Edit, Delete & Show Functionality. <br>
        </p>
        <br/>
						<span class="social_icon">
							<a  href="#">Facebook</a>
							<a style="margin-left: 10px"  href="#">Twitter</a>
							<a style="margin-left: 10px"  href="#">Skype</a>
							<a style="margin-left: 10px"  href="#">Vimeo</a>
						</span>
      </div>
    </div>
  </section>
  <section id="copyright">
    <span>© 2015 - All Rights Reserved - <%= mail_to "sajjad.murtaza49@yahoo.com", nil, :style => 'font-weight: bold' %></span>
  </section>
</div>
</body>
</html>