<!DOCTYPE html>
<html>
<head>
  <style>
      body{

          margin: 0px;
          padding: 0px;
      }

  </style>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body style="background-color: #666666;">


    <div id="container" style="background-color: #333333; width: 80%; height: 130px; margin: 5px 0 0 150px; border-radius: 10px; border: 3px solid #a1a1a1;>

      <div style="width: 100%; height: 120px;">

<!--SHOPPING CART IMAGE-->
        <div style="margin: 5px 0 0 5px; height: 113px; width: 277px; float: left; border-radius: 10px; border: 3px solid #BADA55;">
           <a href="/default/index"> <%= image_tag 'cart.png' %></a>
        </div>


    <!--SHOPPING TEXT AND NEVIGATION BAR-->
    <div style=" height: 120px ;float:left">

        <!-- SHOPPING CART TEXT-->
        <div style="float: left; height: 50px;">
          <p style="padding: 20px; color: #EA7A1B; font-family: Arial Black, Gadget, sans-serif;">
            <b>ONLINE SHOPPING CART COMPANY ...</b></p>
        </div>

      <!--NAVIGATION BAR-->

      <div style="height: 50px;">

        <ul class="nav navbar-nav">
          <% if session[:usersession]==true %>
          <li><%= link_to 'Customers', customers_path %></li>
          <li><%= link_to 'Category', categories_path %></li>
          <li> <%#= link_to 'Order', orders_path %></li>
          <li><%#= link_to 'Order-Detail', orderdetails_path %></li>

          <% else %>
              <% if session[:cussession]!=true %>
              <li> <%= link_to 'Login', login_path %></li>

              <li><%= link_to 'Sign Up',new_path %></li>
                  <% end %>

          <% end %>

        </ul>
      </div>

    </div>

        <div style="float:right; margin: 17px 10px 0 0;">
          <% if session[:usersession]==true %>
          <font color="#008B8B">

           <p> Welcome </font><font color="#EA7A1B"> <%= session[:name] %> </p>
          </font>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Logout', logout_path %></li>
          </ul>
              <% end %>
          <!--++++++++++++++++++++++++++++++++++++++++++++-->
          <% if session[:cussession]==true %>
              <font color="#008B8B">

                <p> Welcome </font><font color="#EA7A1B"> <%= session[:cusname] %> </p>
        </font>
              <ul class="nav navbar-nav">
                <li><%= link_to 'Logout', logout_path %></li>
              </ul>
          <% end %>
        </div>


      </div>


    </div>

<%= yield %>

<div id="footer" style="background-color: #333333; width: 80%; height: 50px; margin: 5px 0 0 150px; border-radius: 10px; border: 3px solid #333333">

  <p style="margin-left: 500px;"><font color="white">All rights reserved. Powered by NextBridge</font></p>

</div>
</body>
</html>